<li>
 <%#<%= comment.content %> 
  <!--<small>Submitted <%#<%= time_ago_in_words(comment.created_at) %> ago</small>-->
  <h4>Comments:</h4>
  <%= form_for [@home,  Comment.new] do |f| %>
      <%= f.text_area :content, placeholder: "Add a Comment" %><br/>
      <%= f.submit "Post Comment"  %>
      <% end %>

 
</li>