<h1 class="page-title">User Sign-up Form</h1>
<%= form_tag({action: 'create'}, id: 'new-user-form') do |f| %>
    <div class="p-b_5 align-left">
      <div class="p-b_5">
        <%= label_tag(:user_name, "Username: ") %>
        <%= text_field_tag(:user_name, nil, class: 'text-input-box') %>
      </div>
      <div class="p-b_5">
        <%= label_tag(:password, "Password: ") %>
        <%= password_field_tag(:password, nil, required: true) %>
      </div>
      <div class="p-b_5">
        <%= label_tag(:password_confirmation, "Confirm Password: ") %>
        <%= password_field_tag(:password_confirmation, nil, required: true, onChange: 'checkPasswordMatch();') %>
      </div>
      </div>
        <div class="registrationFormAlert" id="divCheckPasswordMatch">
      </div>
    </div>
    <br />
    <div class="align-center">
      <%= button_tag('Sign Up', id: 'button') %>
    </div>
<% end %>