<h1 class="page-title">Reset Password Request</h1>
<%= form_tag({action: :send_reset_password_email}, id: 'password-reset-form') do |f| %>
    <div class="p-b_5, align-left">
      <div class="p-b_5">
        <%= label_tag(:user_name, "Username: ") %>
        <%= text_field_tag(:user_name, nil, class: 'text-input-box', required: true, autofocus: true) %>
      </div>
    </div>
    <br />
    <div class="p-b_5, align-left">
      <div class="p-b_5">
        <%= label_tag(:email, "Email: ") %>
        <%= text_field_tag(:email, nil, class: 'text-input-box', required: true) %>
      </div>
    </div>
    <br />
    <br />
    <div class="align-center">
      <%= button_tag('Send Password Reset Email', id: 'button') %>
    </div>
<% end %>