<h1 class="page-title">My Account Info</h1>
<%= form_for @user, url: {action: :update}, html: {id: 'new-user-form'} do |f| %>
    <div class="p-b_5, align-left">
      <div class="p-b_5">
        <%= label_tag(nil, "Username: ") %>
        <%= @user.username %>
      </div>
    </div>
    <br />
    <button type="button" onclick="showPasswordUpdateDiv();" id="button">Change Password</button>
    <br /><br />
    <div id="change-pw-div">
      <div class="p-b_5 align-left">
        <div class="p-b_5 p-t_5">
          <%= label_tag(:password, "Password: ") %>
          <%= password_field_tag(:password, nil, required: true) %>
        </div>
        <div class="p-b_5">
          <%= label_tag(:password_confirmation, "Confirm Password: ") %>
          <%= password_field_tag(:password_confirmation, nil, required: true, onChange: 'checkPasswordMatch();') %>
        </div>
      </div>
      <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
      <div class="align-center">
        <%= button_tag('Submit', id: 'pw-submit-button') %>
      </div>
    </div>
<% end %>