<h1 class="page-title">Reset Password Form</h1>
<%= form_for @user, url: {action: :change_password}, html: {id: 'update-user-form'} do |f| %>
  <div>
    <br />
    <div class="p-b_5 align-left">
      <div class="p-b_5 p-t_5">
        <%= label_tag(:password, "New Password: ") %>
        <%= password_field_tag(:password, nil, id: 'new-password-input', class: 'input-border', autofocus: true) %>
      </div>
      <div class="p-b_5">
        <%= label_tag(:password_confirmation, "Confirm New Password: ") %>
        <%= password_field_tag(:password_confirmation, nil, onChange: 'checkNewPasswordMatch();', id: 'new-password-confirmation-input', class: 'input-border') %>
      </div>
    </div>
    <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
    <br />
    <div class="align-center">
      <%= button_tag('Reset Password', id: 'button') %>
    </div>
  </div>
<% end %>