<div class="well well-small">
  <div class="pull-right">
    <%= link_to "Reset Filters", reset_filterrific_url, class: 'btn btn-default btn-sm' %>
  </div>
  <div class="chardin_box">
    <%= page_entries_info homes, model: 'home' %>
  </div>
  <div class="chardin_box">
    <%= render_filterrific_spinner %>
  </div>
</div>

<%= form_tag({action: @action}, method: :get, id: 'pagination-form') do |f| %>
    <label>Homes per page:</label>
    <%= select_tag(:per_page, options_for_select(@per_page_options, @selected_per_page), onchange: 'this.form.submit();')%>
<% end %>

<div class="chardin_box">
  <%= will_paginate homes, renderer: BootstrapPagination::Rails %>
</div>

<table class="table">
  <tr>
    <th>Photo</th>
    <th>Title</th>
    <th>Description</th>
    <th>City</th>
    <th>State</th>
    <th>Neighborhood</th>
    <th>Rating</th>
    <th>Post Date</th>
  </tr>
  <% homes.each do |home| %>
      <tr class="home" data-href="<%= home_url(home.id) %>" onclick="window.location='<%= home_url(home.id) %>'">
        <% if home.image.exists? %>
          <td class="image"><%= image_tag home.image.url, :size => '100x100' %></td>
        <% else %>
          <td class="image"><%= image_tag '/images/image-unavailable.jpg', :size => '100x100' %></td>
        <% end %>
        <td class="title"><%= home.title %></td>
        <td class="description"><%= home.description %></td>
        <td class="city"><%= home.city %></td>
        <td class="state"><%= home.state %></td>
        <td class="neighborhood"><%= home.neighborhood %></td>
        <td class="rating"><%= home.rating %></td>
        <td class="created_at"><%= home.decorated_created_at %></td>
      </tr>
  <% end %>
</table>

<div class="chardin_box">
  <%= will_paginate homes, renderer: BootstrapPagination::Rails %>
</div>