<div class="well well-small">
  <div class="pull-right">
    <%= link_to "Reset Filters", reset_filterrific_url, class: 'btn btn-default btn-sm' %>
  </div>
  <div class="chardin_box">
    <%= page_entries_info homes, model: 'home' %>
  </div>
  <div class="chardin_box">
    <%= render_filterrific_spinner %>
  </div>
</div>

<table class="table">
  <tr>
    <th>Photo</th>
    <th>Title</th>
    <th>City</th>
    <th>State</th>
    <th>Neighborhood</th>
    <th>Rating</th>
    <th>Post Date</th>
  </tr>
  <% homes.each do |home| %>
    <!--<tr class="home" data-href='homes/<<%#%= home.id %>'>-->
      <tr class="home" data-href="<%= home_path(home.id) %>">
      <td><%= image_tag home.image.url, :size => "50x50" %></td>
      <td class="title"><%= home.title %></td>
      <td class="city"><%= home.city %></td>
      <td class="state"><%= home.state %></td>
      <td class="neighborhood"><%= home.neighborhood %></td>
      <td class="rating"><%= home.rating %></td>
      <td class="created_at"><%= home.decorated_created_at %>  
       <!--<div class="linkTo">-->
       <!-- <%#<%= link_to("View", home_path(home.id)) %></td>-->
       <!--</div> -->
       
    </tr>
  <% end %>
</table>

<div class="chardin_box">
  <%= will_paginate homes, renderer: BootstrapPagination::Rails %>
</div>