<%# app/views/homes/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%#<%= page_entries_info homes # provided by will_paginate %>
  </div>

  <table>
    <tr>
      <th>Search Results</th>
    
      
    </tr>
    <%#<% homes.each do |home| %>
      <!--<tr>-->
      <!--  <td><%#<%= link_to(home.title, home_path(home)) %></td>-->
      <!--  <td><%#<%= home.address %></td>-->
      <!--  <td><%#<%= home.rating %></td>-->
        
      <!--</tr>-->
    <%#<% end %>
  </table>
  <% home = Home.new(id: 1, title: 'test 1', address: 'Vienna', rating: 5) %>
  <%= link_to("Show", home_path(home.id)) %>
  
</div>

<%#<%= will_paginate homes # provided by will_paginate %>