<!DOCTYPE html>
<html>
<head>
  <title>ChristmasLights</title>
</head>

<% if $info_message != nil %>
    <div class="ui-widget">
      <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
        <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
          <strong>Info:</strong> <%= $info_message %></p>
      </div>
    </div>
    <% $info_message = nil %>
<% end %>

<img id="homeLogo" alt="home-page-logo" src="/seechristmas-lights-logo.png" />

<!--TO DO - enable multi-select-->
<div class="well">
<%= form_for_filterrific @filterrific do |f| %>
  <div class='row'>
    <div class="col-md-2">
        <div class="form-group chardin_box">
          <%= label_tag 'State' %>
          <%= f.select :with_state, @filterrific.select_options[:with_state], {:include_blank => '- Any -'}, {class: 'form-control'} %>
        </div>
      </div>
     <div class="col-md-2">
        <div class="form-group chardin_box">
          <%= label_tag 'City' %>
          <%= f.select :with_city, @filterrific.select_options[:with_city], {:include_blank => '- Any -'}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group chardin_box">
          <%= label_tag 'Rating' %>
          <%= f.select :with_rating, @filterrific.select_options[:with_rating], {:include_blank => '- Any -'}, {class: 'form-control'} %>
        </div>
      </div>
       <div class="col-md-2">
        <div class="form-group chardin_box">
          <%= label_tag 'Sorted by' %>
          <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {class: 'form-control'} %>
        </div>
      </div>
       
  </div>
 
<% end %>
</div>

<div id="filterrific_results">
  <%= render(partial: 'homes/list', locals: { homes: @homes }) %>
</div>

 <% homes_url do |home| %>
    <tr>
      <td><%= link_to(home.rating, home_path(home)) %></td>
      <td><%= home.state %></td>
      <td><%= home.city %></td>
    </tr>
     <p>
    <%= link_to(home.rating, target: "_blank") %> - <%= link_to("Show Page", home) %>
  </p>
  <% end %>
</html>
