<html>
    <head>
        <title>Show Home</title>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    
<div class="titleSpan"><img id="christmas-logo-small" class="p-b_15" src="/seechristmas-lights-logo.png" />
  <h1 class="page-title">Christmas Home Information</h1>
 </div>

 <%#<%= link_to(@home.rating, target: "_blank") %><br/>
<!--<small>Submitted <%#<%= time_ago_in_words(@home.created_at) %> ago</small>-->
 <div class="col-md-8">
    <div class="col-md-5" style="margin-top: 15px">
        <div class="first-col">
            <h3>Picture:</h3>
            <p>
              <strong><%= @home.title%></strong>
                 <%= image_tag @home.image.url, :size => "300x300" %>
            </p>
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 15px">
        <div class="second-col" style="margin-left: 65px; width: 100%" >
            <h3>Address:</h3>
            <span><%= @home.street_address %></br></span>
            <span><%= @home.city %></span>
            <span><%= @home.state %><%= @home.zip_code %>
            </span>
        </div>
    </div>
   
</div> 
<div class="col-md-8" style="background-color: #ffffff; padding: 0px;">
   
        <a href="#"><span class="glyphicon-class glyphicon glyphicon-thumbs-up"></span></a>
        <a href="#"><span class="glyphicon-class glyphicon glyphicon-thumbs-down"></span></a>
        <a href="#"><span class="glyphicon-class glyphicon glyphicon-star"></span></a>
    
</div>

<div class="col-md-8 comments_span">
    <ul>
        <%#<%= render(partial: 'comments/comment', collection: @home.comments) %>
            <%= render(partial: 'comments/comment') %>
                <div class='comments'>
                 <h4>Comment History:</h4>
                    <% if @home.comments.any? %>
                       <% @home.comments.each do |comment| %>
                        <ol>
                            <%=  comment.content %>
                        </ol>
                    <% end %>
                        <%#<%= will_paginate @home.comments %>
                    <% else %>
                        No comments to display.
            <% end %>  
                </div>  
        </ul>
    </div>
    
    <!--<div class ="col-md-2">-->
    <!--<div id="side-content">-->
        
    <!--    <h4>Google Map: </h4>-->
    
    <!--</div>-->
 
<div id="sidebar">
    <% content_for(:sidebar) do %>
        <%= render(partial: 'layouts/sidebar') %>
    <% end %>
</div>

</html>   