<h1 class="page-title">Home Details</h1>
<div class="align-div-center">
  <div class="col-md-8">
    <div class="span8">
      <h3 class="title"><%= @home.title %></h3>
    </div>
    <div class="row">
      <div class="col-md-7 p-b_15">
        <div class="first-col">
          <%= image_tag @home.image.url, :size => '400x300' %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="second-col" >
          <h4>Address:</h4>
          <div class="sd-link">
            <a href="http://maps.google.com/?q=<%= "#{@home.street_address}, #{@home.city}, #{@home.state}, #{@home.zip_code}" %>">
              <%= @home.street_address %></br>
              <%= @home.city %>,  <%= @home.state %> <%= @home.zip_code %>
            </a>
          </div>
        </div>
        <br />
        <br />
        <div class="second-col">
          <h4>Description:</h4>
          <%= @home.description %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="ns-link p-t_5">
      <input type="hidden" id="home-id" value="<%= @home.id %>" />
      <span id='home-td' class="p-r_25"><a class="fa fa-thumbs-o-down fa-2x"></a></span>
      <span id='home-tu' class="p-r_25"><a class="fa fa-thumbs-o-up fa-2x"></a></span>
      <% if cookies[:user_id] %>
        <% if @is_favorited %>
            <span id='home-fav-del' class="p-r_25"><a class="fa fa-star fa-2x"></a></span>
        <% else %>
            <span id='home-fav-add' class="p-r_25"><a class="fa fa-star-o fa-2x"></a></span>
        <% end %>
      <% end %>
    </div>
    <br />
    <div class="p-b_5">
      <span id="home-rating"><%= @home.rating %></span> <span id="like-cardinality"><%= [1].include?(@home.rating) ? 'like' : 'likes' %></span>
    </div>
  </div>

  <div class="col-md-8 comments_span">
    <ul>
      <% if cookies[:user_id] %>
        <%= render(partial: 'homes/comment', locals: {home_id: @home.id}) %>
      <% else %>
        <div class="sd-link p-t_15">
          Please <%= link_to "login", users_path %> or <%= link_to "sign up", new_user_path %> to post comments
        </div>
      <% end %>
      <hr />
      <div class='comments'>
        <% if @home.comments.any? %>
            <% @home.comments.each do |comment| %>
                <div class="comment-content">
                  <div class="p-l_10">
                    <%= comment.content %>
                  </div>
                </div>
                <div class="p-l_10">
                  Posted by: <%= comment.user.username %>
                </div>
                <br />
            <% end %>
        <% else %>
            No comments available
        <% end %>
      </div>
    </ul>
  </div>
</div>