<!DOCTYPE html>
<html>
<head>
  <title>SelectedHouse </title>
 
 </head>
 <%#<%= link_to(@home.rating, target: "_blank") %><br/>
<!--<small>Submitted <%#<%= time_ago_in_words(@home.created_at) %> ago</small>-->

<h2 class="page-title">Christmas Home Information</h2>
<div>
    Picture
</div>
<div>
    Address:
    <%#<%= @home.street_address %>
    <%= @home.city %>
    <%= @home.state %>
    <%= @home.zip_code %>
</div>
<ul>
    <h3>Comments: </h3>
 <%#<%= render(partial: 'comments/comment', collection: @home.comments) %>
 <%= render(partial: 'comments/comment') %>
 
    <div class='comments'>
         <h4>Comment History</h4>
        <% if @home.comments.any? %>
           <% @home.comments.each do |comment| %>
            <ol>
                <%=  comment.content %>
            </ol>
            <% end %>
            <%#<%= will_paginate @home.comments %>
        <% else %>
            No comments to display.
        <% end %>   
        
    </div>  
</ul>
 </html>
