<!DOCTYPE html>
<html>
<head>
  <title>SelectedHouse </title>
 
 </head>
 <%#<%= link_to(@home.rating, target: "_blank") %><br/>
<!--<small>Submitted <%#<%= time_ago_in_words(@home.created_at) %> ago</small>-->

<h2 class="page-title">Christmas Home Information</h2>
<div>
    Picture
</div>
<div>
    Address:
    <%= @home.street_address %>
</div>
<ul>
    <h3>Comments: </h3>
 <%#<%= render(partial: 'comments/comment', collection: @home.comments) %>
 <%= render(partial: 'comments/comment') %>
 
    <div class='comments'>
        Comments History
        <% if @home.comments.any? %>
            <h3>Commeny History</h3>
            <ol>
                <%=  render @comments %>
            </ol>
            <%= will_paginate @comments %>
        <% end %>    
    </div>  
</ul>
 </html>
