<!DOCTYPE html>
<html>
<head>
  <title>SelectedHouse </title>
 <img id="logoOtherPages" class="p-b_15" src="/seechristmas-lights-logo.png" />
 </head>
 <%#<%= link_to(@home.rating, target: "_blank") %><br/>
<!--<small>Submitted <%#<%= time_ago_in_words(@home.created_at) %> ago</small>-->

<h2 class="page-title">Christmas Home Information</h2>
<div class="col-md-8">
    <div class="col-md-4">
        <div class="first-col">
            <h4>Picture:</h4>
            <p>
              <strong><%= @home.title%></strong>
                  <%#<%= image_tag @home.image_file_name %>
                   <%= image_tag @home.image.url(:small) %>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="second-col">
            <h4>Address:</h4>
            <%= @home.street_address %>
            <%= @home.city %>
            <%= @home.state %>
            <%= @home.zip_code %>
        </div>
    </div>
   
</div> 

    <div class="col-md-8 comments_span">
        <ul>
            <%#<%= render(partial: 'comments/comment', collection: @home.comments) %>
            <%= render(partial: 'comments/comment') %>
                <div class='comments'>
                 <h4>Comment History</h4>
                    <% if @home.comments.any? %>
                       <% @home.comments.each do |comment| %>
                        <ol>
                            <%=  comment.content %>
                        </ol>
                    <% end %>
                        <%#<%= will_paginate @home.comments %>
                    <% else %>
                        No comments to display.
            <% end %>  4
                </div>  
        </ul>
    </div>
    
    <!--<div class ="col-md-2">-->
    <!--<div id="side-content">-->
        
    <!--    <h4>Google Map: </h4>-->
    
    <!--</div>-->
</div>
<% content_for(:sidebar) do %>
    <%= render(partial: 'layouts/sidebar') %>
<% end %>
 </html>
