<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1903309806562504";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<h1 class="page-title">Home Details</h1>
<div class="align-div-center">
  <div class="col-md-8">
    <div class="span8">
      <h3 class="home-title"><%= @home.title %></h3>
    </div>
    <div class="row">
      <div class="col-md-7 p-b_15">
        <div class="first-col">
          <% if @home.image.exists? %>
              <%= image_tag @home.image.url, :size => '300x300' %>
          <% else %>
              <%= image_tag '/images/image-unavailable.jpg', :size => '300x300' %>
          <% end %>

        </div>
      </div>
      <div class="col-md-5">
        <div class="second-col" >
          <h4>Address:</h4>
          <div class="sd-link">
            <a target="_blank" href="http://maps.google.com/?q=<%= "#{@home.street_address}, #{@home.city}, #{@home.state}, #{@home.zip_code}" %>">
              <%= @home.street_address %></br>
              <%= @home.city %>,  <%= @home.state %> <%= @home.zip_code %>
            </a>
          </div>
        </div>
        <br />
        <br />
        <div class="second-col">
          <h4>Description:</h4>
          <%= @home.description %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="ns-link p-t_5">
      <input type="hidden" id="home-id" value="<%= @home.id %>" />
      <span id='home-td' class="p-r_100"><a class="fa fa-thumbs-o-down fa-2x"></a></span>
      <span id='home-tu' class="p-r_100"><a class="fa fa-thumbs-o-up fa-2x"></a></span>
      <% if cookies[:user_id] %>
        <% if @is_favorited %>
            <span id='home-fav-del'><a class="fa fa-star fa-2x"></a></span>
        <% else %>
            <span id='home-fav-add'><a class="fa fa-star-o fa-2x"></a></span>
        <% end %>
      <% end %>
      <div class="fb-share-button pull-right"
           data-href="<%= home_url(@home.id) %>"
           data-layout="button_count"
           data-size="large">
      </div>
      <br />
      <div class="pull-right">
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=Check out the Christmas lights on this house!"
           data-size="large">
          Tweet</a>
      </div>
    </div>
    <br />
    <div class="p-b_5">
      <strong><span id="home-dislikes"><%= @home.dislikes %></span> <span id="dislike-cardinality" class="p-r_50"><%= [1].include?(@home.dislikes) ? 'dislike' : 'dislikes' %></span></strong>
      <strong><span id="home-likes"><%= @home.likes %></span> <span id="like-cardinality"><%= [1].include?(@home.likes) ? 'like' : 'likes' %></span></strong>
    </div>
  </div>

  <div class="col-md-8 comments_span">
    <ul>
      <% if cookies[:user_id] %>
        <%= render(partial: 'homes/comment', locals: {home_id: @home.id}) %>
      <% else %>
        <div class="sd-link p-t_15">
          Please <%= link_to "login", users_path %> or <%= link_to "sign up", new_user_path %> to post comments
        </div>
      <% end %>
      <hr />
      <div class='comments'>
        <% if @home.comments.any? %>
            <% @home.comments.each do |comment| %>
                <div class="comment-content">
                  <div class="p-l_10">
                    <%= comment.content %>
                  </div>
                </div>
                <div class="p-l_10">
                  Posted by: <%= comment.user.username %>
                </div>
                <br />
            <% end %>
        <% else %>
            No comments available
        <% end %>
      </div>
    </ul>
  </div>
</div>