<h1 class="page-title">Home Details</h1>
<div class="col-md-8">
  <div class="span8">
    <h3 class="title"><%= @home.title %></h3>
  </div>
  <div class="row">
    <div class="col-md-7 p-b_15">
      <div class="first-col">
        <%= image_tag @home.image.url, :size => '400x300' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="second-col" >
        <h4>Address:</h4>
        <%= @home.street_address %></br>
        <%= @home.city %>,  <%= @home.state %> <%= @home.zip_code %>
      </div>
      <br />
      <br />
      <div class="second-col">
        <h4>Description:</h4>
        <%= @home.description %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="ns-link p-t_5">
    <span id='home-td' class="p-r_25"><a class="fa fa-thumbs-o-down fa-2x"></a></span>
    <span id='home-tu' class="p-r_25"><a class="fa fa-thumbs-o-up fa-2x"></a></span>
    <% if @is_favorited %>
      <span id='home-fav-del' class="p-r_25"><a class="fa fa-star fa-2x"></a></span>
    <% else %>
      <span id='home-fav-add' class="p-r_25"><a class="fa fa-star-o fa-2x"></a></span>
    <% end %>
  </div>
  <br />
  <div class="p-b_5">
    Rating: <span id="home-rating"><%= @home.rating %></span>
  </div>
</div>

<div class="col-md-8 comments_span">
  <ul>
    <%= render(partial: 'comments/comment') %>
    <div class='comments'>
      <h4>Comment History:</h4>
      <% if @home.comments.any? %>
          <% @home.comments.each do |comment| %>
              <ol>
                <%=  comment.content %>
              </ol>
          <% end %>
      <% else %>
          No comments to display.
      <% end %>
    </div>
  </ul>
</div>

<div id="sidebar">
  <% content_for(:sidebar) do %>
      <%= render(partial: 'sidebar') %>
  <% end %>
</div>