<div id="nav-bar">
  <ul>
    <% if cookies[:user_id] != nil %>
      <li><%= link_to "Logout", action: :logout, controller: :users %></li></li>
      <li><%= link_to "My Account", user_path(cookies[:user_id]) %></li>
      <li><%= link_to "My Homes", action: :user_homes, controller: :homes %></li>
      <li><%= link_to "Favorites", action: :favorite_homes, controller: :homes %></li>
    <% else %>
      <li><%= link_to "Login", users_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
    <% end %>
    <li><%= link_to "Home", root_path %></li>
  </ul>
</div>