<!DOCTYPE html>
<html>
<head>
  <title>ChristmasLights</title>
  <%= stylesheet_link_tag    'jquery-ui.min', 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'jquery', 'jquery-ui.min', 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav_bar' %>

<%= yield %>

</body>
<div class="footer">
  <span>Placeholder for footer</span>
</div>  
</html>
